.profile p span {
	display: block;
}
.personal h3 {
	color: #b92978;
}
.contact ul {
	padding: 0;
}
.contact ul li {
	list-style: none;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #a8a8a8;
	padding: 8px 0 0 0;
}
.contact svg {
	font-size: 1.5rem;
	padding: 8px;
	background-color: #b92978;
	color: #fff;
	border-radius: 25px;
	margin: 0 10px 0 0;
	flex-shrink: 0;
}
.contact a {
	text-decoration: none;
	color: #000;
}
